{% extends "/admin/layout/layout" %}

{% block body %}
<div class="content" id="content">
  <div class="content-header">
    <div class="title">
      {% if status == "add" %}
      <h2>본부소개 등록</h2>
      {% elseif status == "edit" %}
      <h2>본부소개 수정</h2>
      <button class="ui button red right floated">삭제</button>
      {% endif %}
    </div>
  </div>
  <div class="card-layout">
    <div class="card col-12">
      <div class="card-inner">
        <div class="card-body">
          <!-- 정렬 -->
          <div class="ui innerContent">
            <div class="title">컨텐츠정렬</div>
            <div class="card-body">
              <div class="ui form">
                <div class="inline fields">
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="align" checked="checked">
                      <label>왼쪽정렬</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="align">
                      <label>오른쪽정렬</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 타이틀 -->
          <div class="ui innerContent">
            <div class="title">타이틀</div>
            <div class="card-body">
              <div class="ui input">
                <input type="text" name="title" placeholder="타이틀을 입력해주세요." value="">
              </div>
            </div>
          </div>

          <!-- 부가설명 -->
          <div class="ui innerContent">
            <div class="title">부가설명</div>
            <div class="card-body">
              <div class="ui form">
                <div class="field">
                  <textarea name="content" rows="5" placeholder="타이틀에 대한 부가설명을 입력해주세요."></textarea>
                </div>
              </div>
            </div>
          </div>

          <!-- 썸네일 첨부파일 -->
          <div class="ui innerContent">
            <div class="title">썸네일 이미지 첨부파일</div>
            <div class="card-body">
              <input type="file" name="thumbnail" id="thumbnail" accept="image/gif,image/jpeg,image/png" value="">
              <label for="thumbnail" class="ui button black">첨부파일</label>
              <span class="fileList">
                <!-- 파일표기[S] -->
                <!--<label>wallpaper_20220411180152_2880_1880_sunset.jpg</label>
                <button class="delete" onclick="fileDelete(this);">
                    <i class="icon close"></i>
                </button>-->
                <!-- 파일표기[E] -->
              </span>
            </div>
            <span class="guideText">1개의 이미지 파일만 등록 가능합니다. (450x230)</span>
          </div>

          <!-- 버튼 -->
          <div class="ui right aligned header">
            <a href="/admin/intro" class="ui button grey">목록</a>
            {% if status == "add" %}
            <button class="ui button primary">본부소개 등록</button>
            {% elseif status == "edit" %}
            <button class="ui button primary">본부소개 수정</button>
            {% endif %}
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
/* file[S] */
$(document).ready(function () {
  $('input[type=file]').on('change', function(e){
    fileCheck(e);
  });
});

function fileCheck(e) {
  var target = e.target;
  var file = target.files[0].name;
  var html = '<label>' + file + '</label>';
  html += '<button class="delete" onclick="fileDelete(this);">';
  html += '<i class="icon close"></i>';
  html += '</button>';
  $(target).closest('div').find('span').html(html);
}

function fileDelete(e) {
  var parentEl = e.closest('.card-body');
  $(parentEl).find('span').empty();
  $(parentEl).find($('input[type=file]')).val("");
}
/* file[E] */
</script>
{% endblock %}