{% extends "/admin/layout/layout" %}

{% block body %}
<div class="content" id="content">
  <div class="content-header">
    <div class="title">
      <h2>본부소개</h2>
      <button class="ui button primary right floated">순서저장</button>
    </div>
  </div>
  <div class="card-layout intro-layout">
    <div class="card col-12">
      <div class="card-inner">
        <div class="card-body">
          <div class="ui innerContent cardContainer">
            <!--Contents[S]-->
            <div class="card-body draggable" draggable="true" title="컨텐츠를 드래그하여 위/아래로 순서변경이 가능합니다.">
              <div class="intro-wrap">
                <div class="intro-con">
                  <div class="ui middle aligned stackable grid container">
                    <div class="row reveal active">
                      <div class="six wide left floated column img-wrapp">
                        <img class="ui left floated large bordered rounded image" src="https://www.emotion.co.kr/pc/img/02_img_02.cd3f8a5d.webp">
                      </div>
                      <div class="nine wide column">
                        <a class="ui header" href="/admin/editIntro">
                          <h3 class="ui header">우리는 사람을 향한 따뜻한 감성과 이성적 사고를 겸비한 디지털 전문가 집단입니다.</h3>
                        </a>
                        <p>다양한 실전 경험과 지식을 갖춘 전문가들이 당신의 사업 파트너가 되어 높은 수준의 구축과 안정적인 운영 서비스를 제공합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body draggable" draggable="true" title="컨텐츠를 드래그하여 위/아래로 순서변경이 가능합니다.">
              <div class="intro-wrap">
                <div class="intro-con">
                  <div class="ui middle aligned stackable grid container">
                    <div class="row reveal active">
                      <div class="nine wide column">
                        <a class="ui header" href="/admin/editIntro">
                          <h3 class="ui header">사고의 폭과 깊이를 확장시키는 수평적이고 자유로운 분위기 속에서 함께 성장합니다.</h3>
                        </a>
                        <p>우리는 각자의 개성과 관점을 존중하고 서로 다름을 이해하며 공동의 목표를 향해 나아갑니다. 동료를 향한 신뢰는 유연한 팀 문화를 만들고 그 속에서 몰입을 통한 폭발적인 성장을 경험하게 됩니다.</p>
                      </div>
                      <div class="six wide right floated column img-wrapp">
                        <img class="ui right floated large bordered rounded image" src="https://www.emotion.co.kr/pc/img/02_img_03.d71a6f53.webp">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Contents[E]-->
          </div>
          <!-- 버튼 -->
          <div class="ui right aligned header">
            <a href="/admin/addIntro" class="ui button primary">등록</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
/* file[S] */
$(document).ready(function () {
  $('input[type=file]').on('change', function(e){
    fileCheck(e);
  });
});

function fileCheck(e) {
  var target = e.target;
  var file = target.files[0].name;
  var html = '<label>' + file + '</label>';
  html += '<button class="delete" onclick="fileDelete(this);">';
  html += '<i class="icon close"></i>';
  html += '</button>';
  $(target).closest('div').find('span').html(html);
}

function fileDelete(e) {
  var parentEl = e.closest('.card-body');
  $(parentEl).find('span').empty();
  $(parentEl).find($('input[type=file]')).val("");
}
/* file[E] */

/* Drag & Drop[S] */
const draggables = document.querySelectorAll(".draggable");
const containers = document.querySelectorAll(".cardContainer");

draggables.forEach(draggable => {
  draggable.addEventListener("dragstart", () => {
    draggable.classList.add("dragging");
  });

  draggable.addEventListener("dragend", () => {
    draggable.classList.remove("dragging");
  });
});

containers.forEach(container => {
  container.addEventListener("dragover", e => {
    e.preventDefault();
    const afterElement = getDragAfterElement(container, e.clientY);
    const draggable = document.querySelector(".dragging");
    if (afterElement === undefined) {
      container.appendChild(draggable);
    } else {
      container.insertBefore(draggable, afterElement);
    }
  });
});

function getDragAfterElement(container, y) {
  const draggableElements = [
    ...container.querySelectorAll(".draggable:not(.dragging)"),
  ];

  return draggableElements.reduce(
    (closest, child) => {
      const box = child.getBoundingClientRect();
      const offset = y - box.top - box.height/2;
      // console.log(offset);
      if (offset < 0 && offset > closest.offset) {
        return { offset: offset, element: child };
      } else {
        return closest;
      }
    },
    { offset: Number.NEGATIVE_INFINITY },
  ).element;
}
/* Drag & Drop[E] */
</script>
{% endblock %}