{% extends "/admin/layout/layout" %}

{% block body %}
<div class="content" id="content">
  <div class="content-header">
    <div class="title">
      {% if intro.id != null %}
      <h2>본부소개 수정</h2>
        {% if intro.create_user == userVo.id %}
        <button class="ui button red right floated">삭제</button>
        {% endif %}
      {% else %}
      <h2>본부소개 등록</h2>
      {% endif %}
    </div>
  </div>
  <form name="introForm" id="introForm" action="{{ intro != null ? '/admin/editIntro' : '/admin/addIntro' }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="introId" value="{{ intro.id }}"/>
    <div class="card-layout">
      <div class="card col-12">
        <div class="card-inner">
          <div class="card-body">
            <!-- 정렬 -->
            <div class="ui innerContent">
              <div class="title">컨텐츠 정렬</div>
              <div class="card-body">
                <div class="ui form">
                  <div class="inline fields">
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="align" value="0" checked="{{ intro != null ? '' : 'checked' }}">
                        <label>왼쪽</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="align" value="1">
                        <label>오른쪽</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 타이틀 -->
            <div class="ui innerContent">
              <div class="title">타이틀</div>
              <div class="card-body">
                <div class="ui input">
                  <input type="text" name="title" placeholder="타이틀을 입력해주세요." value="{{ intro.title }}">
                </div>
              </div>
            </div>

            <!-- 부가설명 -->
            <div class="ui innerContent">
              <div class="title">부가설명</div>
              <div class="card-body">
                <div class="ui form">
                  <div class="field">
                    <textarea name="content" rows="5" placeholder="타이틀에 대한 부가설명을 입력해주세요.">{{ intro.content }}</textarea>
                  </div>
                </div>
              </div>
            </div>

            <!-- 썸네일 첨부파일 -->
            <div class="ui innerContent">
              <div class="title">썸네일 이미지 첨부파일</div>
              <div class="card-body">
                <input type="hidden" name="file_id" value="{{ intro.file_id }}">
                <input type="file" name="thumbnail" id="thumbnail" accept="image/gif,image/jpeg,image/png" value="/images/{{ intro.thumbnail_img }}">
                <label for="thumbnail" class="ui button black">첨부파일</label>
                <span class="fileList">
                  {% if intro != null %}
                  <label>{{ intro.ori_thumbnail_img }}</label>
                  <button class="delete" onclick="fileDelete(this);">
                    <i class="icon close"></i>
                  </button>
                  {% endif %}
                  <!-- 파일표기[S] -->
                  <!--<label>wallpaper_20220411180152_2880_1880_sunset.jpg</label>
                  <button class="delete" onclick="fileDelete(this);">
                      <i class="icon close"></i>
                  </button>-->
                  <!-- 파일표기[E] -->
                </span>
              </div>
              <span class="guideText">1개의 이미지 파일만 등록 가능합니다. (450x230)</span>
            </div>

            <!-- 버튼 -->
            <div class="ui right aligned header">
              <a href="/admin/intro" class="ui button grey">목록</a>
              {% if intro.id != null %}
                {% if intro.create_user == userVo.id %}
                <button class="ui button primary" id="btnUpdate">본부소개 수정</button>
                {% endif %}
              {% else %}
              <button class="ui button primary" id="btnRegist">본부소개 등록</button>
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
/* file[S] */
$(document).ready(function () {
  $('input[type=file]').on('change', function(e){
    fileCheck(e);
  });

  $("#btnRegist, #btnUpdate").on('click', function() {
    if (validation()) {
      $("#introForm").submit();
    }
  });
  setData();
});

function validation() {

}

function fileCheck(e) {
  var target = e.target;
  var file = target.files[0].name;
  var html = '<label>' + file + '</label>';
  html += '<button class="delete" onclick="fileDelete(this);">';
  html += '<i class="icon close"></i>';
  html += '</button>';
  $(target).closest('div').find('span').html(html);
}

function fileDelete(e) {
  var parentEl = e.closest('.card-body');
  $(parentEl).find('span').empty();
  $(parentEl).find($('input[type=file]')).val("");
}

function setData() {
  var location = '{{ intro.location }}';
  $('input:radio[name=align]').each(function() {
    if ($(this).val() == location) {
      $(this).prop('checked', true);
    }
  });
}
/* file[E] */
</script>
{% endblock %}