{% extends "/admin/layout/layout" %}

  {% block toastScript %}
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  {% endblock %}

  {% block body %}
<div class="content" id="content">
  <div class="content-header">
    <div class="title">
      {% if wiki.id != null %}
      <h2>Wiki 수정</h2>
        {% if wiki.create_user == userVo.id or userVo.role_id > 5 %}
        <button class="ui button red right floated" id="deleteWiki">삭제</button>
        {% endif %}
      {% else %}
      <h2>Wiki 등록</h2>
      {% endif %}
    </div>
  </div>

  <form name="editParam" id="editParam" action="{{ wiki.id != null ? '/admin/editWiki' : '/admin/addWiki' }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="wikiId" value="{{ wiki.id }}"/>
    <div class="card-layout">
      <div class="card col-12">
        <div class="card-inner">
          <div class="card-body">
            <!-- 제목 -->
            <div class="ui innerContent">
              <div class="ui right aligned header">
                <div class="ui toggle checkbox checked" id="showStatus">
                  <input type="checkbox" name="showStatus" checked>
                  <label>공개여부</label>
                </div>
              </div>
            </div>

            <!-- 제목 -->
            <div class="ui innerContent">
              <div class="title">제목</div>
              <div class="card-body">
                <div class="ui input">
                  <input type="text" name="title" id="title" placeholder="Wiki의 제목을 입력해주세요." maxlength="100" value="{{ wiki.title }}">
                </div>
              </div>
            </div>

            <!-- 설명 -->
            <div class="ui innerContent">
              <div class="title">간편설명</div>
              <div class="card-body">
                <div class="ui input">
                  <input type="text" name="subTitle" id="subTitle" placeholder="Wiki의 간편설명을 입력해주세요." maxlength="200" value="{{ wiki.sub_title }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 에디터 -->
      <div class="card col-12">
        <div class="card-inner">
          <div class="card-body">
            <div class="ui">
              <div id="editor"></div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" name="content" value="{{ wiki.content }}"/>

      <!-- 해시태그 -->
      <div class="card col-12">
        <div class="card-inner">
          <div class="ui innerContent">
            <div class="title">해시태그</div>
            <div class="card-body">
              <input type="hidden" name="hashTag" id="hashTag" value="{{ wikiTag }}">

              {% for tag in tagList %}
              <div class="ui checkbox hashTag">
                <input type="checkbox" class="hidden" name="tag" value="{{ tag.tagId }}">
                <label class="hasgTagName">#{{ tag.tagName }}</label>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>

      <div class="card col-12">
        <div class="card-inner">
          <!-- 썸네일 첨부파일 -->
          <div class="ui innerContent">
            <div class="title">썸네일 이미지 첨부파일</div>
            <div class="card-body">
              <input type="file" name="thumbnail" id="thumbnail" accept="image/gif,image/jpeg,image/png"
                  value="/images/{{ wiki.thumbnail_img }}">
              <label for="thumbnail" class="ui button black">첨부파일</label>
              <span class="fileList" id="thumbnailTxt"></span>
            </div>
            <span class="guideText">1개의 이미지 파일만 등록 가능합니다. (300x200)</span>
          </div>

          <!-- 첨부파일 -->
          <div class="ui innerContent">
            <div class="title">Wiki 대표 이미지 첨부파일</div>
            <div class="card-body">
              <input type="file" name="titleImg" id="titleImg" accept="image/gif,image/jpeg,image/png"
                  value="/images/{{ wiki.title_img }}">
              <label for="titleImg" class="ui button black">첨부파일</label>
              <span class="fileList" id="titleImgTxt"></span>
            </div>
            <span class="guideText">이미지 파일만 등록 가능합니다. (1280x380)</span>
          </div>

          <!-- 버튼 -->
          <div class="ui right aligned header">
            <a href="/admin/wikiList" class="ui button grey">목록</a>
            {% if wiki.id != null %}
              {% if wiki.create_user == userVo.id or userVo.role_id > 5 %}
              <button type="button" class="ui button primary" id="btnUpdate">Wiki 수정</button>
              {% endif %}
            {% else %}
            <button type="button" class="ui button primary" id="btnRegist">Wiki 등록</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
  {% endblock %}

  {% block script %}
    <script type="text/javascript">
      $(document).ready(function(){
        $('.ui.checkbox').checkbox();
        $('.ui.radio.checkbox').checkbox();

        $("#btnRegist, #btnUpdate").on('click', function() {
          if (validation()) {
            $("#editParam").submit();
          }
        });

        $("#deleteWiki").on('click', function() {
          $("#editParam").attr("action", "/admin/deleteWiki");
          $("#editParam").submit();
        });

        setData();
      });

      const viewer = new toastui.Editor({
          el: document.querySelector('#editor'),
          viewer: true,
          height: '500px',
          placeholder: 'Wiki 본문을 입력해주세요.',
          initialEditType: 'markdown'
      });

      $('input[type=file]').on('change', function(e){
          fileCheck(e);
      });

      function fileCheck(e) {
          var target = e.target;
          var file = target.files[0].name;
          var html = '<label>' + file + '</label>';
          html += '<button class="delete" onclick="fileDelete(this);">';
          html += '<i class="icon close"></i>';
          html += '</button>';
          $(target).closest('div').find('span').html(html);
      }

      function fileDelete(e) {
          var parentEl = e.closest('.card-body');
          $(parentEl).find('span').empty();
          $(parentEl).find($('input[type=file]')).val("");
      }

      function validation() {
        // 에디터
        $("input[name=content]").val(viewer.getHTML());

        // 해시태그
        var hashTagList = new Array();
        $('input:checkbox[name=tag]:checked').each(function() {
          hashTagList.push($(this).val());
        });

        // 제목, 간편설명 확인
        if ($("#title").val() == '' || $("#subTitle").val() == '') {
          alert("제목과 간편설명 확인해주세요.");
          return false;
        }

        // 에디터 확인
        if ($("input[name=content]").val() == '<p><br></p>' || $("input[name=content]").val() == null) {
          alert("글이 없습니다.");
          return false;
        }

        // 해시태그 확인
        $("#hashTag").val(hashTagList);
        if ($("#hashTag").val() == '') {
          alert("해시태그 확인좀");
          return false;
        }

        // 이미지확인
        if ($("#thumbnailTxt").html() == '' || $("#titleImgTxt").html() == '') {
          alert("이미지 확인좀");
          return false;
        }
        return true;
      }

      function setData() {

        var wikiId = '{{ wiki.id }}';
        if (wikiId != null || wikiId != 0) {
          // 에디터
          var content = $("input[name=content]").val();
          viewer.setHTML(content, true);

          // 해시태그
          var wikiTagList = $("#hashTag").val().split(',');
          wikiTagList.forEach(function(wikiTag) {
            $('input:checkbox[name=tag]').each(function(){
              if($(this).val() == wikiTag) {
                $(this).parent('div').addClass("checked");
                $(this).attr("checked",true);
              }
            });
          });

          // 썸네일 txt
          var thumbnailTxt = '';
          var thumbnail_img = '{{ wiki.ori_thumbnail_img }}';
          if (thumbnail_img != '') {
            thumbnailTxt += '<label>' + thumbnail_img + '</label>';
            thumbnailTxt += '<button class="delete" onclick="fileDelete(this);">';
            thumbnailTxt += '<i class="icon close"></i>';
            thumbnailTxt += '</button>';
            $("#thumbnailTxt").html(thumbnailTxt);
          }

          // 대표 txt
          var titleImgTxt = '';
          var title_img = '{{ wiki.ori_title_img }}';
          if (title_img != '') {
            titleImgTxt += '<label>' + title_img + '</label>';
            titleImgTxt += '<button class="delete" onclick="fileDelete(this);">';
            titleImgTxt += '<i class="icon close"></i>';
            titleImgTxt += '</button>';
            $("#titleImgTxt").html(titleImgTxt);
          }

        }
      }
    </script>
  {% endblock %}

