{% block sidebarScript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
    $('.ui.radio.checkbox').checkbox();

    $('.menu-list .menu-item').on("click", function(e) {
      var index = $(this).index();
      $('.menu-list .menu-item a').removeClass('active');
      $(this).find('a').addClass('active');
    });

    $("#logout").on("click", function() {
      window.location.href = "/admin/logout";
    });
  });

  $(function() {
    var replaceString = ['add', 'edit'];
    var locationPath = window.location.pathname.toLowerCase();
    replaceString.forEach(function (str) {
      locationPath = locationPath.replace(str, '');
    })
    if (locationPath.indexOf('wiki') != -1 && locationPath.indexOf('list') == -1) {
      locationPath = locationPath + 'list';
    }

    var locationPathRegExp = new RegExp(locationPath.replace(/\/$/, '') + "$");
    $('.menu-list .menu-item a').each(function () {
      if (locationPathRegExp.test(this.href.replace(/\/$/, '').toLowerCase()) ) {
        $(this).addClass('active');
      }
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    var jsonData = {};
    $.ajax({
      url : "/api/v1/loginUserProfile",
      data : JSON.stringify(jsonData),
      type : "POST",
      async : false,
      dataType : "JSON",
      contentType: "application/json; charset=utf-8",
      success : function(result) {
        $("#login_user_img").attr("src", result.profile_img);
        $("#login_user_name").text(result.name_grade);
        $("#login_user_team").text(result.org_nm);
      },
      error : function(error) {
        console.log(error);
      }
    });
  });
</script>
{% endblock %}

<div class="inner">
  <div class="top">
    <a class="logo" href="/admin/index">
      <span class="admin">e·motion CT2</span>
    </a>
  </div>

  <div class="category">
    <div class="cate-inner">
      <ul class="menu-list">
        <li class="menu-item">
          <a class="" target="_self" href="/admin/intro">
            <span class="icon">
              <!-- <i class="star outline icon"></i> -->
              😊
            </span>
            <span class="text">본부소개</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="" target="_self" href="/admin/project">
            <span class="icon">
              <!-- <i class="archive icon"></i> -->
              😎
            </span>
            <span class="text">프로젝트</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="" target="_self" href="/admin/wikiList">
            <span class="icon">
              <!-- <i class="edit icon"></i> -->
              🤔
            </span>
            <span class="text">Wiki</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="profile">
    <div class="user">
      <div class="img">
        <a href="javascript:void(0);">
          <img id="login_user_img" class="center aligned ui bordered rounded image" src="">
        </a>
      </div>
      <div class="info">
        <span id="login_user_name" class="name"></span>
        <span id="login_user_team" class="team"></span>
      </div>
    </div>
    <div class="bottom">
      <button class="logout" id="logout">
        <span class="icon">
          <i class="sign out icon"></i>
        </span>로그아웃
      </button>
    </div>
  </div>
</div>