<div class="inner">
  <div class="top">
    <a class="logo" href="/admin/wikiList">
      <span class="admin">e·motion CT2</span>
    </a>
  </div>

  <div class="category">
    <div class="cate-inner">
      <ul class="menu-list">
        <li class="menu-item">
          <a class="" target="_self" href="/admin/wikiList">
            <span class="icon">
              <!-- <i class="star outline icon"></i> -->
              😊
            </span>
            <span class="text">본부소개</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="" target="_self" href="/admin/wikiList">
            <span class="icon">
              <!-- <i class="archive icon"></i> -->
              😎
            </span>
            <span class="text">프로젝트</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="" target="_self" href="/admin/wikiList">
            <span class="icon">
              <!-- <i class="edit icon"></i> -->
              🤔
            </span>
            <span class="text">Wiki</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="profile">
    <div class="user">
      <div class="img">
        <a href="/admin/wikiList">
          <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202304%2Fe89e922d-654c-4a27-9ee7-78843b2e0e52.jpeg&w=256&q=75">
        </a>
      </div>
      <div class="info">
        <span class="name">금문일 선임리더</span>
        <span class="team">CT2 본부</span>
      </div>
    </div>
    <div class="bottom">
      <button class="logout">
        <span class="icon">
          <i class="sign out icon"></i>
        </span>로그아웃
      </button>
    </div>
  </div>
</div>