{% extends "/layout/layout" %}

{% block body %}
<!-- Banner [S] -->
<div class="ui vertical center aligned segment detail">
  <div class="ui container">
    {# img #}
    <img src="/images/{{ blogDetail.title_img }}">
  </div>
</div>
<!-- Banner [E] -->

<!-- Detail [S] -->
<div class="ui vertical stripe detailContent">
  <div class="ui container">
    <h1 class="ui header">{{ blogDetail.title | raw}}</h1>

    {# content #}
    {% autoescape false %}
      {{ blogDetail.content }}
    {% endautoescape %}

  </div>
</div>
<!-- Detail [E] -->

<div class="ui container right aligned">
  <div class="ui row more">
    <a href="/main/{{ orgName }}/blogList?filterTag={{ filterTag }}" class="ui button red">목록 <i class="right arrow icon"></i></a>
  </div>
</div>
{% endblock %}