
<div class="ui vertical stripe segment intro" id="intro">
  <div class="ui container">
    <div class="left aligned row title">
      <h2 class="logoFont colorRed">Intro {{ session.getAttribute("org").name }}</h2>
    </div>
  </div>
  <div class="ui middle aligned stackable grid container">

    {% for intro in introList %}
      <div class="row">
        {% if intro.location == 1 %}
        <div class="nine wide column">
          <h3 class="ui header">{{ intro.title }}</h3>
          <p>{{ intro.content }}</p>
        </div>
        <div class="six wide right floated column img-wrapp">
          <!--{# img #}-->
          <img src="/images/{{ intro.fileName }}" class="ui large bordered rounded image">
          <!--<img src="/images/{{ intro.fileName }}" class="ui large bordered rounded image">-->
        </div>
        {% else %}
        <div class="six wide left floated column img-wrapp">
          <!--{# img #}-->
          <img src="/images/{{ intro.fileName }}" class="ui large bordered rounded image">
          <!--<img src="/images/{{ intro.fileName }}" class="ui large bordered rounded image">-->
        </div>
        <div class="nine wide column">
          <h3 class="ui header">{{ intro.title }}</h3>
          <p>{{ intro.content }}</p>
        </div>
        {% endif %}
      </div>
    {% endfor %}

  </div>
</div>