<!-- team [S] -->
<div class="ui vertical stripe segment team" id="team">
  <div class="ui container">
    <div class="left aligned row title">
      <h2 class="logoFont colorRed">Team Members</h2>
    </div>
  </div>

  <!-- Slider main container -->
  <div class="ui container swiperTeam pdT-2em">
    <!-- Additional required wrapper -->
    <div class="center aligned row swiper-wrapper">
      <!-- Slides -->
      {% for profile in userProfileList %}
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="{{ profile.profile_img }}">
            </div>
            <div class="header center aligned">
              {{ profile.name }}
            </div>
            <div class="description center aligned">
              {{ profile.code_nm }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--<div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202304%2Fmigration_profile_076.jpg&w=256&q=75">
            </div>
            <div class="header center aligned">
              권성환
            </div>
            <div class="description center aligned">
              책임리더
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202306%2Faf3b4838-41e1-48b7-bca9-4f80cf53fe38.png&w=256&q=75">
            </div>
            <div class="header center aligned">
              김옥심
            </div>
            <div class="description center aligned">
              책임리더
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202305%2Fca2187d4-377b-4d16-af91-763e8c920a04.jpeg&w=256&q=75">
            </div>
            <div class="header center aligned">
              김소연
            </div>
            <div class="description center aligned">
              선임리더
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202304%2Fe89e922d-654c-4a27-9ee7-78843b2e0e52.jpeg&w=256&q=75">
            </div>
            <div class="header center aligned">
              금문일
            </div>
            <div class="description center aligned">
              선임리더
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202304%2Fmigration_profile_077.jpg&w=256&q=75">
            </div>
            <div class="header center aligned">
              김민재
            </div>
            <div class="description center aligned">
              리더
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202304%2Fmigration_profile_128.png&w=256&q=75">
            </div>
            <div class="header center aligned">
              최슬기
            </div>
            <div class="description center aligned">
              리더
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202304%2Fmigration_profile_028.jpg&w=256&q=75">
            </div>
            <div class="header center aligned">
              이수현
            </div>
            <div class="description center aligned">
              팀원
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202304%2F643df50e-a7ea-4453-8364-32e9df43a172.jpg&w=256&q=75">
            </div>
            <div class="header center aligned">
              강지수
            </div>
            <div class="description center aligned">
              팀원
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202304%2Fmigration_profile_095.png&w=256&q=75">
            </div>
            <div class="header center aligned">
              한승규
            </div>
            <div class="description center aligned">
              팀원
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202306%2Fe2de012a-047d-44b0-9e13-3f3c1d736253.png&w=256&q=75">
            </div>
            <div class="header center aligned">
              조정은
            </div>
            <div class="description center aligned">
              팀원
            </div>
          </div>
        </div>
      </div>
      <div class="ui cards swiper-slide">
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://group.emotion.co.kr/_next/image?url=http%3A%2F%2Fgroup.emotion.co.kr%2Fpublic%2Freal%2FUSER%2F202307%2F946a485d-7026-4a2d-86a7-a41756c190b8.png&w=256&q=75">
            </div>
            <div class="header center aligned">
              민하영
            </div>
            <div class="description center aligned">
              팀원
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
<!-- team [E] -->