<div id="header">
  <div class="ui fixed secondary menu device_pc bgcolorWhite">
    <div class="ui container">
      <a href="/{{ session.getAttribute('org').lowerName }}" class="header item">
        <span class="contour logoFont colorRed">e·motion {{ session.getAttribute("org").name }}</span>
      </a>
      <a href="/{{ session.getAttribute('org').lowerName }}#intro" class="item">Intro</a>
      <a href="/{{ session.getAttribute('org').lowerName }}#project" class="item">Project</a>
      <a href="/{{ session.getAttribute('org').lowerName }}#blog" class="item">Wiki</a>
      <a href="/{{ session.getAttribute('org').lowerName }}#team" class="item">Team</a>
    </div>
  </div>

  <div class="ui fixed secondary menu device_mobile bgcolorWhite">
    <div class="ui container">
      <a href="/{{ session.getAttribute('org').lowerName }}" class="header item">
        <span class="contour logoFont colorRed">e·motion {{ session.getAttribute("org").name }}</span>
      </a>
      <div class="ui menu mobile_item_wrap">
        <a id="mobile_item" class="item" onclick="$('.ui.sidebar').sidebar('toggle');"><i class="bars icon"></i></a>
      </div>
    </div>
  </div>

  <div class="ui pushable segment">
    <div class="mobile ui sidebar vertical menu right">
      <a href="/{{ session.getAttribute('org').lowerName }}#intro" class="item">Intro</a>
      <a href="/{{ session.getAttribute('org').lowerName }}#project" class="item">Project</a>
      <a href="/{{ session.getAttribute('org').lowerName }}#blog" class="item">Wiki</a>
      <a href="/{{ session.getAttribute('org').lowerName }}#team" class="item">Team</a>
    </div>
  </div>
</div>