<!DOCTYPE html>
<html lang="en">
<head>
    <title>e-motion {{ orgName }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block script %}{% endblock %}
    {% include '/layout/semanticCss' %}
</head>
<body class="container">
    <div id="header">
        {% include '/layout/header' %}
    </div>
    <div class="pusher">
        {% block body %}{% endblock %}
    </div>
</body>

{% block swiperScript %}{% endblock %}

</html>