<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ct2.repo.BlogMapper">

    <sql id="blogCondition">
        <if test="filterTag != null and filterTag !=''">
            AND tag_id IN
            <foreach collection="filterTag" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </sql>

    <select id="selectBlogListCnt" resultType="int" parameterType="map">
        SELECT COUNT(*)
          FROM board b
          JOIN (
                SELECT board_id
                  FROM board_tag
                 WHERE 1 = 1
                <include refid="blogCondition"/>
              GROUP BY board_id
               ) bt
            ON bt.board_id = b.id
         WHERE b.is_use = 1
           AND b.is_delete = 0
           AND organization_code = #{orgCode}
           AND board_category = 'BO002'
    </select>

    <select id="selectBlogList" resultType="map" parameterType="map">
        SELECT b.id
             , b.title
             , b.sub_title
             , b.content
             , DATE_FORMAT(b.create_datetime, '%Y.%m.%d') AS create_datetime
             , (
                SELECT CONCAT(f.name, f.type)
                  FROM file f
                 WHERE b.title_img = f.id
               ) AS title_img
             , (
                SELECT CONCAT(f.name, f.type)
                  FROM file f
                 WHERE b.thumbnail_img = f.id
               ) AS thumbnail_img
          FROM board b
          JOIN (
                SELECT board_id
                  FROM board_tag
                 WHERE 1 = 1
                <include refid="blogCondition"/>
              GROUP BY board_id
               ) bt
            ON bt.board_id = b.id
         WHERE b.is_use = 1
           AND b.is_delete = 0
           AND organization_code = #{orgCode}
           AND board_category = 'BO002'
      ORDER BY create_datetime DESC
             , update_datetime DESC
        LIMIT #{startPost}, #{postCnt}
    </select>

    <select id="selectBlogDetail" resultType="map" parameterType="long">
        SELECT b.title
             , b.sub_title
             , b.content
             , (
				SELECT CONCAT(f.name, f.type)
				  FROM file f
				 WHERE b.title_img = f.id
			   ) AS title_img
             , (
				SELECT CONCAT(f.name, f.type)
				  FROM file f
				 WHERE b.thumbnail_img = f.id
			   ) AS thumbnail_img
          FROM board b
         WHERE b.id = #{blogId}
    </select>

    <select id="selectBoardTag" resultType="map" parameterType="map">
        SELECT t.tag_name AS tagName
             , t.tag_color AS tagColor
          FROM board_tag bt
     LEFT JOIN tag t
            ON t.tag_id = bt.tag_id
         WHERE bt.board_id = #{id}
    </select>
</mapper>
