{% extends "/admin/layout/layout" %}

{% block body %}
<div class="content" id="content">
    <div class="card-layout dash-board">
        <div class="card col-4">
            <div class="card-inner clean">
                <div class="card-body">
                    <h1 class="main-title">금문일님 😃<br> 안녕하세요!</h1>
                    <!-- 조직장 -->
                    <!--<button class="main-button on">프로젝트 문의 현황 보기</button>-->
                    <!-- 공통 -->
                    <button class="main-button off" onclick="window.open('/ct2')">본부사이트 보기</button>
                </div>
            </div>
        </div>
        <div class="card col-4">
            <div class="card-inner">
                <div class="card-body">
                    <div class="ui innerContent">
                        <div class="content-title">프로젝트 현황</div>
                        <div class="card-body">
                            <div class="con-wrap">
                                <div class="con">
                                    <div class="img">🤗</div>
                                    <div class="number">{{ projectShowCnt }}</div>
                                    <h4 class="title">공개</h4>
                                    <button class="con-button" onclick="location.href='/admin/project?showStatus=1'">
                                        <span>자세히 보기 <i class="icon long arrow alternate right"></i></span>
                                    </button>
                                </div>
                                <div class="con">
                                    <div class="img">😴</div>
                                    <div class="number red">{{ projectHideCnt }}</div>
                                    <h4 class="title">비공개</h4>
                                    <button class="con-button" onclick="location.href='/admin/project?showStatus=0'">
                                        <span>자세히 보기 <i class="icon long arrow alternate right"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-4">
            <div class="card-inner">
                <div class="card-body">
                    <div class="ui innerContent">
                        <div class="content-title">Wiki 현황</div>
                        <div class="card-body">
                            <div class="con-wrap">
                                <div class="con">
                                    <div class="img">🤗</div>
                                    <div class="number">{{ wikiShowCnt }}</div>
                                    <h4 class="title">공개</h4>
                                    <button class="con-button" onclick="location.href='/admin/wikiList?showStatus=1'">
                                        <span>자세히 보기 <i class="icon long arrow alternate right"></i></span>
                                    </button>
                                </div>
                                <div class="con">
                                    <div class="img">😴</div>
                                    <div class="number red">{{ wikiHideCnt }}</div>
                                    <h4 class="title">비공개</h4>
                                    <button class="con-button" onclick="location.href='/admin/wikiList?showStatus=0'">
                                        <span>자세히 보기 <i class="icon long arrow alternate right"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-layout dash-board">
        <div class="card col-12">
            <div class="card-inner">
                <div class="card-body">
                    <div class="ui innerContent">
                        <div class="content-title">
                            본부소개
                            <button class="con-button" onclick="location.href='/admin/intro'">
                                <span>자세히 보기 <i class="icon long arrow alternate right"></i></span>
                            </button>
                        </div>

                        {% for intro in introList %}
                        <div class="card-body">
                            <div class="intro-wrap">
                                <div class="intro-con">
                                    <div class="ui middle aligned stackable grid container">
                                        <div class="row">
                                        {% if intro.location == 0 %}
                                            <div class="six wide left floated column img-wrapp">
                                                <img class="ui left floated large bordered rounded image" src="../semantic/themes/default/assets/images/ct2-intro-crop-image-{{ intro.id }}.png">
                                                <!--<img class="ui left floated large bordered rounded image" src="https://www.emotion.co.kr/pc/img/02_img_02.cd3f8a5d.webp">-->
                                                <!--<img class="ui left floated large bordered rounded image" src="/images/{{ intro.fileName }}">-->
                                            </div>
                                            <div class="nine wide column">
                                                <h3 class="ui header">{{ intro.title }}</h3>
                                                <p>{{ intro.content }}</p>
                                            </div>
                                        {% else %}
                                            <div class="nine wide column">
                                                <h3 class="ui header">{{ intro.title }}</h3>
                                                <p>{{ intro.content }}</p>
                                            </div>
                                            <div class="six wide right floated column img-wrapp">
                                                <img class="ui right floated large bordered rounded image" src="../semantic/themes/default/assets/images/ct2-intro-crop-image-{{ intro.id }}.png">
                                                <!--<img class="ui right floated large bordered rounded image" src="https://www.emotion.co.kr/pc/img/02_img_03.d71a6f53.webp">-->
                                                <!--<img class="ui left floated large bordered rounded image" src="/images/{{ intro.fileName }}">-->
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--Contents[S]-->
                        <!--<div class="card-body">
                            <div class="intro-wrap">
                                <div class="intro-con">
                                    <div class="ui middle aligned stackable grid container">
                                        <div class="row reveal active">
                                            <div class="six wide left floated column img-wrapp">
                                                <img class="ui left floated large bordered rounded image" src="https://www.emotion.co.kr/pc/img/02_img_02.cd3f8a5d.webp">
                                            </div>
                                            <div class="nine wide column">
                                                <h3 class="ui header">우리는 사람을 향한 따뜻한 감성과 이성적 사고를 겸비한 디지털 전문가 집단입니다.</h3>
                                                <p>다양한 실전 경험과 지식을 갖춘 전문가들이 당신의 사업 파트너가 되어 높은 수준의 구축과 안정적인 운영 서비스를 제공합니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="intro-wrap">
                                <div class="intro-con">
                                    <div class="ui middle aligned stackable grid container">
                                        <div class="row reveal active">
                                            <div class="nine wide column">
                                                <h3 class="ui header">사고의 폭과 깊이를 확장시키는 수평적이고 자유로운 분위기 속에서 함께 성장합니다.</h3>
                                                <p>우리는 각자의 개성과 관점을 존중하고 서로 다름을 이해하며 공동의 목표를 향해 나아갑니다. 동료를 향한 신뢰는 유연한 팀 문화를 만들고 그 속에서 몰입을 통한 폭발적인 성장을 경험하게 됩니다.</p>
                                            </div>
                                            <div class="six wide right floated column img-wrapp">
                                                <img class="ui right floated large bordered rounded image" src="https://www.emotion.co.kr/pc/img/02_img_03.d71a6f53.webp">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--Contents[E]-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
    $('.ui.radio.checkbox').checkbox();
});
</script>
{% endblock %}