{% extends "/admin/layout/layout" %}

{% block body %}
<div class="content" id="content">
    <div class="content-header">
        <div class="title">
            <h2>프로젝트</h2>
        </div>
    </div>
    <div class="card-layout">
        <div class="card col-12">
            <div class="card-inner">
                <div class="card-body">
                    <!-- search-area -->
                    <div class="search-area">
                        <form name="searchPram" action="/admin/project/list" method="get">
                            <input type="hidden" name="curPage" id="curPage" value="{{ pagination.curPage }}">
                            <div class="ui grid">
                                <div class="three column row">
                                    <div class="column">
                                        <div class="ui selection dropdown">
                                            <input type="hidden" name="tag" value="{{ param.tag }}">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">프로젝트 유형</div>
                                            <div class="menu" id="tag">
                                                <div class="item" data-value="0">전체</div>
                                                {% for tag in tagList %}
                                                <div class="item" id="tagValue{{ tag.tagId }}" data-value="{{ tag.tagId }}">{{ tag.tagName }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui selection dropdown">
                                            <input type="hidden" name="showStatus" value="{{ param.showStatus }}">
                                            <i class="dropdown icon"></i>
                                            <div class="default text" id="showStatusTxt">공개여부</div>
                                            <div class="menu">
                                                <div class="item" name="showStatusValue" data-value="-1">전체</div>
                                                <div class="item" name="showStatusValue" data-value="1">공개</div>
                                                <div class="item" name="showStatusValue" data-value="0">비공개</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui selection dropdown">
                                            <input type="hidden" name="userId">
                                            <i class="dropdown icon"></i>
                                            <div class="default text" id="userIdTxt">작성자</div>
                                            <div class="menu">
                                                <div class="item" data-value="0">전체</div>
                                                {% for orgUser in orgUserList %}
                                                <div class="item" namd="userIdValue" data-value="{{ orgUser.id }}">{{ orgUser.name }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui grid">
                                <div class="ui input">
                                    <input type="text" name="title" placeholder="검색어를 입력해주세요." maxlength="100" value="{{ param.title }}">
                                    <button class="ui button black" id="search">검색</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- content-area -->
                    <div class="content-area">
                        <table class="ui celled padded single line table">
                            <thead>
                            <tr>
                                <th class="center aligned">번호</th>
                                <th class="center aligned">서비스명</th>
                                <th class="center aligned">고객사</th>
                                <th class="center aligned">공개여부</th>
                                <th class="center aligned">작성자</th>
                                <th class="center aligned">등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if projectList.size > 0 %}
                                {% for project in projectList %}
                                <tr>
                                    <td class="center aligned">{{ project.num }}</td>
                                    <td class="center aligned">
                                        <a href="/admin/project/edit?projectId={{ project.id }}">{{ project.projectName }}</a>
                                    </td>
                                    <td class="center aligned">{{ project.client_name }}</td>
                                    {% if project.useYn == true %}
                                    <td class="center aligned positive"><i class="icon circle outline"></i></td>
                                    {% else %}
                                    <td class="center aligned negative"><i class="icon close"></i></td>
                                    {% endif %}
                                    <td class="center aligned">{{ project.userName }}</td>
                                    <td class="center aligned">{{ project.update_time }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="center aligned" colspan="6">데이터가 없습니다.</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                        <div class="ui center aligned header">
                            <div class="ui pagination menu">

                                {% if pagination.startPage > 1 %}
                                <a class="icon item" onclick="paging({{ pagination.startPage - 1 }})">
                                  <i class="left chevron icon"></i>
                                </a>
                                {% endif %}

                                {% for pageNum in pagination.startPage .. pagination.endPage %}
                                  {% if pageNum == pagination.curPage %}
                                    <a class="item active">
                                  {% else %}
                                      <a class="icon item" onclick="paging({{ pageNum }})">
                                  {% endif %}
                                      {{ pageNum }}
                                    </a>
                                {% endfor %}

                                {% if pagination.endPage + 1 <= pagination.pageCnt %}
                                <a class="icon item" onclick="paging({{ pagination.endPage + 1 }})">
                                  <i class="right chevron icon"></i>
                                </a>
                                {% endif %}

                            </div>
                        </div>

                        <div class="ui right aligned header">
                            <button class="ui button primary" onclick="location.href='/admin/project/insert'">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#search").on('click', function(){
               paging(1);
            });

            validation();
        });

        function validation() {
            // 프로젝트 유형
            var tag = '{{ param.tag }}';
            $("#tagValue" + tag).addClass("active");
            $("#tagValue" + tag).addClass("selected");

            // 공개여부
            var showStatus = '{{ param.showStatus }}';
            if (showStatus != '') {
                $('div[name=showStatusValue]').each(function(index, item) {
                   if (showStatus == $(this).data("value")) {
                       $(this).addClass("active");
                       $(this).addClass("selected");
                       $("#showStatusText").html($(this).html());
                       $("#showStatusText").removeClass("default");
                   }
                });
            }

            // 작성자
            var userId = '{{ param.userId }}';
            if (userId != '') {
                $('div[name=userIdValue]').each(function(index, item) {
                    if (userId == $(this).data("value")) {
                        $(this).addClass("active");
                        $(this).addClass("selected");
                        $("#userIdTxt").html($(this).html());
                        $("#userIdTxt").removeClass("default");
                    }
                });
            }

        }

        function paging(page) {
            $("#curPage").val(page);
            $('form[name=serarchParam]').submit();
        }
    </script>
{% endblock %}