{% extends "/admin/layout/layout" %}

{% block body %}
<div class="content" id="content">
    <div class="content-header">
        <div class="title">
            {% if status == "add" %}
            <h2>프로젝트 등록</h2>
            {% elseif status == "edit" %}
            <h2>프로젝트 수정</h2>
            <button class="ui button red right floated">삭제</button>
            {% endif %}
        </div>
    </div>
    <div class="card-layout">
        <div class="card col-12">
            <div class="card-inner">
                <div class="card-body">
                    <!-- 공개여부 -->
                    <div class="ui innerContent">
                        <div class="ui right aligned header">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="showStatus" checked>
                                <label>공개여부</label>
                            </div>
                        </div>
                    </div>

                    <!-- 서비스명 -->
                    <div class="ui innerContent">
                        <div class="title">서비스명</div>
                        <div class="card-body">
                            <div class="ui input">
                                <input type="text" name="title" placeholder="서비스명을 입력해주세요." value="Battle Dart">
                            </div>
                        </div>
                    </div>

                    <!-- 고객사명 -->
                    <div class="ui innerContent">
                        <div class="title">고객사명</div>
                        <div class="card-body">
                            <div class="ui input">
                                <input type="text" name="subTitle" placeholder="고객사명을 입력해주세요." value="(주)피닉스다트">
                            </div>
                        </div>
                    </div>

                    <!-- 수행 완료일 -->
                    <div class="ui innerContent">
                        <div class="title">수행 완료일</div>
                        <div class="card-body">
                            <div class="ui input">
                                <input type="text" name="subTitle" class="datepicker" readonly placeholder="수행 완료일을 입력해주세요." value="2022.04">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 프로젝트 유형 -->
        <div class="card col-12">
            <div class="card-inner">
                <div class="ui innerContent">
                    <div class="title">프로젝트 유형</div>
                    <div class="card-body">
                        <div class="ui checkbox hashTag checked">
                            <input type="checkbox" class="hidden hashChk" name="hashTag" checked>
                            <label class="hasgTagName">PC web</label>
                        </div>
                        <div class="ui checkbox hashTag checked">
                            <input type="checkbox" class="hidden hashChk" name="hashTag" checked>
                            <label class="hasgTagName">Mobile Web</label>
                        </div>
                        <div class="ui checkbox hashTag">
                            <input type="checkbox" class="hidden hashChk" name="hashTag">
                            <label class="hasgTagName">Mobile App</label>
                        </div>
                        <div class="ui checkbox hashTag checked">
                            <input type="checkbox" class="hidden hashChk" name="hashTag" checked>
                            <label class="hasgTagName">Construction</label>
                        </div>
                        <div class="ui checkbox hashTag">
                            <input type="checkbox" class="hidden hashChk" name="hashTag">
                            <label class="hasgTagName">Maintenance</label>
                        </div>
                        <div class="ui checkbox hashTag">
                            <input type="checkbox" class="hidden hashChk" name="hashTag">
                            <label class="hasgTagName">Renewal</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-12">
            <div class="card-inner">
                <!-- 썸네일 첨부파일 -->
                <div class="ui innerContent">
                    <div class="title">썸네일 이미지 첨부파일</div>
                    <div class="card-body">
                        <input type="file" name="thumbnail" id="thumbnail" accept="image/gif,image/jpeg,image/png"
                               value="C:\\fakepath\\wallpaper_20220411180152_2880_1880_sunset.jpg">
                        <label for="thumbnail" class="ui button black">첨부파일</label>
                        <span class="fileList">
                            <!-- 파일표기[S] -->
                            <label>wallpaper_20220411180152_2880_1880_sunset.jpg</label>
                            <button class="delete" onclick="fileDelete(this);">
                                <i class="icon close"></i>
                            </button>
                            <!-- 파일표기[E] -->
                        </span>
                    </div>
                    <span class="guideText">1개의 이미지 파일만 등록 가능합니다. (380x250)</span>
                </div>

                <!-- 버튼 -->
                <div class="ui right aligned header">
                    <a href="/admin/project" class="ui button grey">목록</a>
                    {% if status == "add" %}
                    <button class="ui button primary">프로젝트 등록</button>
                    {% elseif status == "edit" %}
                    <button class="ui button primary">프로젝트 수정</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=file]').on('change', function(e){
            fileCheck(e);
        });

        $(".datepicker").datepicker({
            closeText: "닫기",
            prevText: "이전달",
            nextText: "다음달",
            currentText: "오늘",
            monthNames: ["1월", "2월", "3월", "4월", "5월", "6월",
                "7월", "8월", "9월", "10월", "11월", "12월"
            ],
            monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월",
                "7월", "8월", "9월", "10월", "11월", "12월"
            ],
            dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
            dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
            dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
            weekHeader: "주",
            dateFormat: "yy.mm.dd", // 날짜형태 예)yy년 m월 d일
            firstDay: 0,
            /*isRTL: false,*/
            showMonthAfterYear: true,
            /*showAnim: "slideDown",*/
            yearSuffix: "년"
        })
    });
    function fileCheck(e) {
        var target = e.target;
        var file = target.files[0].name;
        var html = '<label>' + file + '</label>';
        html += '<button class="delete" onclick="fileDelete(this);">';
        html += '<i class="icon close"></i>';
        html += '</button>';
        $(target).closest('div').find('span').html(html);
    }

    function fileDelete(e) {
        var parentEl = e.closest('.card-body');
        $(parentEl).find('span').empty();
        $(parentEl).find($('input[type=file]')).val("");
    }
</script>
{% endblock %}