{% extends "/admin/layout/layout" %}

{% block body %}
<div class="content" id="content">
    <div class="content-header">
        <div class="title">
            {% if project != null %}
            <h2>프로젝트 수정</h2>
                {% if project.create_user == userVo.id or userVo.role_id > 5 %}
                <button class="ui button red right floated" id="deleteProject">삭제</button>
                {% endif %}
            {% else %}
            <h2>프로젝트 등록</h2>
            {% endif %}
        </div>
    </div>
    <form name="projectForm" id="projectForm" action="{{ project != null ? '/admin/project/edit' : '/admin/project/insert' }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="projectId" value="{{ project.id }}"/>
        <div class="card-layout">
            <div class="card col-12">
                <div class="card-inner">
                    <div class="card-body">
                        <!-- 공개여부 -->
                        <div class="ui innerContent">
                            <div class="ui right aligned header">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" name="showStatus" checked>
                                    <label>공개여부</label>
                                </div>
                            </div>
                        </div>

                        <!-- 서비스명 -->
                        <div class="ui innerContent">
                            <div class="title">서비스명</div>
                            <div class="card-body">
                                <div class="ui input">
                                    <input type="text" name="serviceName" placeholder="서비스명을 입력해주세요." value="{{ project.name }}" maxlength="100">
                                </div>
                            </div>
                        </div>

                        <!-- 고객사명 -->
                        <div class="ui innerContent">
                            <div class="title">고객사명</div>
                            <div class="card-body">
                                <div class="ui input">
                                    <input type="text" name="clientName" placeholder="고객사명을 입력해주세요." value="{{ project.client_name }}" maxlength="100">
                                </div>
                            </div>
                        </div>

                        <!-- 수행 완료일 -->
                        <div class="ui innerContent">
                            <div class="title">수행 완료일</div>
                            <div class="card-body">
                                <div class="ui input">
                                    <input type="text" name="finishDate" class="datepicker" readonly placeholder="수행 완료일을 입력해주세요." value="{{ project.finish_date }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 프로젝트 유형 -->
            <div class="card col-12">
                <div class="card-inner">
                    <div class="ui innerContent">
                        <div class="title">프로젝트 유형</div>
                        <div class="card-body">
                            <input type="hidden" name="projectTag" id="projectTag" value="{{ projectTag }}"/>
                            {% for tag in tagList %}
                            <div class="ui checkbox hashTag">
                                <input type="checkbox" class="hidden hashChk" name="hashTag" value="{{ tag.tagId }}">
                                <label class="hasgTagName">{{ tag.tagName }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-12">
                <div class="card-inner">
                    <!-- 썸네일 첨부파일 -->
                    <div class="ui innerContent">
                        <div class="title">썸네일 이미지 첨부파일</div>
                        <div class="card-body">
                            <input type="file" name="thumbnail" id="thumbnail" accept="image/gif,image/jpeg,image/png"
                                   value="/images/{{ project.thumbnail_img }}">
                            <label for="thumbnail" class="ui button black">첨부파일</label>
                            <span class="fileList" id="thumbnailTxt"></span>
                        </div>
                        <span class="guideText">1개의 이미지 파일만 등록 가능합니다. (380x250)</span>
                    </div>

                    <!-- 버튼 -->
                    <div class="ui right aligned header">
                        <a href="/admin/project/list" class="ui button grey">목록</a>
                        {% if project != null %}
                            {% if project.create_user == userVo.id or userVo.role_id > 5 %}
                            <button type="button" class="ui button primary" id="btnUpdate">프로젝트 수정</button>
                            {% endif %}
                        {% else %}
                        <button type="button" class="ui button primary" id="btnRegist">프로젝트 등록</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=file]').on('change', function(e){
            fileCheck(e);
        });

        $("#btnRegist, #btnUpdate").on('click', function() {
            if (validation()) {
               $("#projectForm").submit();
            }
        });

        $("#deleteProject").on('click', function() {
            $("#projectForm").attr("action", "/admin/project/delete");
            $("#projectForm").submit();
        });

        $(".datepicker").datepicker({
            closeText: "닫기",
            prevText: "이전달",
            nextText: "다음달",
            currentText: "오늘",
            monthNames: ["1월", "2월", "3월", "4월", "5월", "6월",
                "7월", "8월", "9월", "10월", "11월", "12월"
            ],
            monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월",
                "7월", "8월", "9월", "10월", "11월", "12월"
            ],
            dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
            dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
            dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
            weekHeader: "주",
            dateFormat: "yy.mm.dd", // 날짜형태 예)yy년 m월 d일
            firstDay: 0,
            /*isRTL: false,*/
            showMonthAfterYear: true,
            /*showAnim: "slideDown",*/
            yearSuffix: "년"
        });

        setData();
    });
    function fileCheck(e) {
        var target = e.target;
        var file = target.files[0].name;
        var html = '<label>' + file + '</label>';
        html += '<button class="delete" onclick="fileDelete(this);">';
        html += '<i class="icon close"></i>';
        html += '</button>';
        $(target).closest('div').find('span').html(html);
    }

    function fileDelete(e) {
        var parentEl = e.closest('.card-body');
        $(parentEl).find('span').empty();
        $(parentEl).find($('input[type=file]')).val("");
    }

    function validation() {

        if ($("input[name=serviceName]").val() == '') {
            alert("서비스명을 입력해주세요.");
            return false;
        }

        if ($("input[name=clientName]").val() == '') {
            alert("고객사명을 입력해주세요.");
            return false;
        }

        if ($("input[name=finishDate]").val() == '') {
            alert("수행 완료일을 입력해주세요.");
            return false;
        }

        var projectTagList = new Array();
        $('input:checkbox[name=hashTag]:checked').each(function(){
           projectTagList.push($(this).val());
        });

        $("#projectTag").val(projectTagList);
        if ($("#projectTag").val() =='') {
            alert("프로젝트 유형을 선택해주세요.");
            return false;
        }

        if ($("#thumbnailTxt").html() == '') {
            alert("썸네일 이미지를 첨부해주세요.");
            return false;
        }

        return true;
    }

    function setData() {
        // 프로젝트 유형
        var projectTag = $("#projectTag").val().split(',');
        projectTag.forEach(function(projectTag){
            $('input:checkbox[name=hashTag]').each(function() {
                if($(this).val() == projectTag) {
                    $(this).parent('div').addClass("checked");
                    $(this).attr("checked", true);
                }
            });
        });

        // 썸네일 txt
        var projectId = '{{ project.id }}';
        if (projectId != null || projectId != 0) {
            // 썸네일 이미지 첨부파일 txt
            var thumbnailTxt = '';
            var thumbnail_img = '{{ project.ori_thumbnail_img }}';
            if (thumbnail_img != '') {
                thumbnailTxt += '<label>' + thumbnail_img + '</label>';
                thumbnailTxt += '<button class="delete" onclick="fileDelete(this);">';
                thumbnailTxt +=     '<i class="icon close"></i>';
                thumbnailTxt += '</button>';
                $("#thumbnailTxt").html(thumbnailTxt);
            }
        }
    }
</script>
{% endblock %}