<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ct2.repo.admin.IntroMngMapper">

    <select id="selectIntroList" resultType="map" parameterType="map">
        SELECT
            A.id
            , A.title
            , A.content
            , A.depth
            , A.location
            , CONCAT(B.original_name, type) AS oriFileName
            , CONCAT(B.name, type) AS fileName
        FROM (
            SELECT
                *
            FROM
                intro
            WHERE 1 = 1
                AND organization_code = #{orgCode}
                AND is_delete = 0
        ) A
        LEFT JOIN file B
        ON B.id = A.file_id

        ORDER BY A.depth ASC
    </select>

    <select id="selectIntro" resultType="map" parameterType="map">
        SELECT intro.id
             , intro.title
             , intro.content
             , intro.location
             , intro.file_id
             , CONCAT(f.original_name, f.`type`) AS ori_thumbnail_img
             , CONCAT(f.name, f.`type`) AS thumbnail_img
             , intro.create_user
          FROM intro
          JOIN file f
            ON f.id = intro.file_id
         WHERE intro.id = #{introId}
    </select>

    <update id="updateIntroDepth" parameterType="map">
        UPDATE intro
           SET `depth` = #{depth}
         WHERE id = #{id}
    </update>

    <insert id="insertIntro" parameterType="map">
        <selectKey resultType="int" keyProperty="depth" order="BEFORE">
            SELECT (MAX(depth) + 1) FROM intro WHERE organization_code = #{userVo.organizationCode}
        </selectKey>
        INSERT INTO intro
                  ( organization_code
                  , title
                  , content
                  , `depth`
                  , file_id
                  , is_delete
                  , location
                  , create_user
                  , create_datetime
                  , update_user
                  , update_datetime
                  )
             VALUES
                  ( #{userVo.organizationCode}
                  , #{title}
                  , #{content}
                  , #{depth}
                  , #{thumbnailNo}
                  , 0
                  , #{align}
                  , #{userVo.id}
                  , SYSDATE()
                  , #{userVo.id}
                  , SYSDATE()
                  )
    </insert>

    <update id="updateIntro" parameterType="map">
        UPDATE intro
           SET title = #{title}
             , content = #{content}
             , location = #{align}
             , update_datetime = SYSDATE()
         WHERE id = #{introId}
    </update>
</mapper>
