<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ct2.repo.admin.ProjectMngMapper">

    <sql id="showStatusCondition">
        <if test="showStatus != null and showStatus != ''">
            AND is_use = #{showStatus}
        </if>
    </sql>

    <sql id="tagCondition">
        <if test="tag != null and tag != 0">
            JOIN (
                    SELECT project_id
                      FROM project_tag
                     WHERE tag_id = #{tag}
                 ) pt
              ON pt.project_id = pj.id
        </if>
    </sql>

    <sql id="userIdCondition">
        <if test="userId != null and userId != 0">
            AND pj.create_user = #{userId}
        </if>
    </sql>

    <sql id="titleCondition">
        <if test="title != null and title != ''">
            AND (
                pj.name LIKE CONCAT('%', #{title}, '%')
                OR
                pj.name LIKE CONCAT('%', #{title}, '%')
                OR
                u.name LIKE CONCAT('%', #{title}, '%')
                )
        </if>
    </sql>

    <select id="selectProjectListCnt" resultType="int" parameterType="map">
        SELECT COUNT(pj.id)
          FROM project pj
     LEFT JOIN groupware.user u
            ON u.id = pj.create_user
        <include refid="tagCondition" />
         WHERE pj.organization_code = 'BS003002'
           AND pj.is_delete = 0
        <include refid="showStatusCondition" />
        <include refid="titleCondition" />
        <include refid="userIdCondition" />

        <!--SELECT
            COUNT(pj.id)
        FROM
            project pj
            JOIN (
                SELECT project_id FROM (
                    SELECT user.id FROM user
                    WHERE 1 = 1
                        AND status_code = 'MB100001'
                        AND organization_code IN (
                            SELECT
                                code
                            FROM
                                organization
                            WHERE 1 = 1
                                <include refid="showStatusCondition" />
                                AND is_delete = 0
                                AND parent_code = 'BS003002'
                        )
                ) uu
                JOIN project_member pjm
                ON pjm.user_id = uu.id
                GROUP BY project_id
            ) mpj
            ON mpj.project_id = pj.id
            LEFT JOIN file f
            ON f.id = pj.file_id-->
    </select>

    <select id="selectProjectList" resultType="map" parameterType="map">
        SELECT ROW_NUMBER() OVER(ORDER BY pj.update_datetime DESC, pj.create_datetime DESC) AS num
             , A.*
          FROM (
                SELECT pj.id
                     , pj.client_name
                     , pj.name AS projectName
                     , is_use AS useYn
                     , u.name AS userName
                     , DATE_FORMAT(pj.update_datetime, '%Y.%m.%d') AS update_time
                     , DATE_FORMAT(pj.create_datetime, '%Y.%m.%d') AS create_time
                     , pj.create_datetime
                     , pj.update_datetime
                  FROM project pj
             LEFT JOIN groupware.user u
                    ON u.id = pj.create_user
                <include refid="tagCondition" />
                 WHERE pj.organization_code = 'BS003002'
                   AND pj.is_delete = 0
                <include refid="showStatusCondition" />
                <include refid="titleCondition" />
                <include refid="userIdCondition" />
               ) A
         LIMIT #{pagination.startIndex}, #{pagination.pageSize} -- 페이징
    </select>

</mapper>
