{% extends "./layout" %}

{% block body %}
<!-- Banner [S] -->
  <div class="ui vertical masthead center aligned segment banner">
  <div class="ui text container">
    <video src="https://emotion.co.kr/pc/media/emotion_main_video.9bdd387c.webm" muted="muted" autoplay="autoplay" loop="loop" type="video/mp4"></video>
    <!-- <img src="/images/blue/118.png"/> -->
    <!-- <p class="ui header title first">Creative Technology 2</p> -->
    <!-- <p class="ui header title second">우리 부서는 이렇습니다.</p> -->
    <!-- <div class="ui huge primary button">우리 부서는 이렇습니다. <i class="right arrow icon"></i></div> -->
  </div>
</div>
<!-- Banner [E] -->

<!-- Intro [S] -->
<div class="ui vertical stripe segment intro" id="intro">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="nine wide column">
        <h3 class="ui header">우리는 사람을 향한 따뜻한 감성과 이성적 사고를 겸비한 디지털 전문가 집단입니다.</h3>
        <p>다양한 실전 경험과 지식을 갖춘 전문가들이 당신의 사업 파트너가 되어 높은 수준의 구축과 안정적인 운영 서비스를 제공합니다.</p>
      </div>
      <div class="six wide right floated column img-wrapp">
        <img src="https://www.emotion.co.kr/pc/img/img_about_01.70fe264c.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="nine wide column">
        <h3 class="ui header">사고의 폭과 깊이를 확장시키는 수평적이고 자유로운 분위기 속에서 함께 성장합니다.</h3>
        <p>우리는 각자의 개성과 관점을 존중하고 서로 다름을 이해하며 공동의 목표를 향해 나아갑니다. 동료를 향한 신뢰는 유연한 팀 문화를 만들고 그 속에서 몰입을 통한 폭발적인 성장을 경험하게 됩니다.</p>
      </div>
      <div class="six wide right floated column img-wrapp">
        <img src="https://www.emotion.co.kr/pc/img/02_img_03.d71a6f53.webp" class="ui large bordered rounded image">
      </div>
    </div>
  </div>
</div>
<!-- Intro [E] -->

<!-- Project [S] -->
<div class="ui vertical stripe segment project" id="project">
  <!-- Slider main container -->
  <div class="ui container swiper">
    <!-- Additional required wrapper -->
    <div class="center aligned row swiper-wrapper">
      <div class="ui cards swiper-slide">
        <!-- Slides -->
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://api.emotion.co.kr/upload/WORKS/PC/2023/1_3/pc_img_01.png">
            </div>
            <a class="header left aligned">
              Mathpid
            </a>
            <div class="description left aligned">
              (주)웅진씽크빅, 2022.08
            </div>
            <div class="meta left aligned">
              Renewal, Mobile App
            </div>
          </div>
          <!-- <div class="extra center aligned content">
            <div class="ui buttons">
              <div class="ui basic primary button">Approve</div>
            </div>
          </div> -->
        </div>
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://api.emotion.co.kr/upload/WORKS/PC/2023/1_1/pc_img_01.png">
            </div>
            <a class="header left aligned">
              LG Innotek
            </a>
            <div class="description left aligned">
              LG이노텍, 2022.08
            </div>
            <div class="meta left aligned">
              Construction, PC web, Mobile Web
            </div>
          </div>
          <!-- <div class="extra center aligned content">
            <div class="ui buttons">
              <div class="ui basic primary button">Approve</div>
            </div>
          </div> -->
        </div>
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://api.emotion.co.kr/upload/WORKS/PC/2022/7/pc_img_01.png">
            </div>
            <a class="header left aligned">
              Battle Dart
            </a>
            <div class="description left aligned">
              (주)피닉스다트, 2022.04
            </div>
            <div class="meta left aligned">
              PC web, Mobile Web, Construction
            </div>
          </div>
          <!-- <div class="extra center aligned content">
            <div class="ui buttons">
              <div class="ui basic primary button">Approve</div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="ui cards swiper-slide">
        <!-- Slides -->
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://api.emotion.co.kr/upload/WORKS/PC/2022/5/pc_img_01.png">
            </div>
            <a class="header left aligned">
              DDP디자인스토어
            </a>
            <div class="description left aligned">
              서울디자인재단, 2022.01
            </div>
            <div class="meta left aligned">
              Maintenance, PC web, Mobile Web
            </div>
          </div>
          <!-- <div class="extra center aligned content">
            <div class="ui buttons">
              <div class="ui basic primary button">Approve</div>
            </div>
          </div> -->
        </div>
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://api.emotion.co.kr/upload/WORKS/PC/2021/11/20211115306000Xa9otiyeeQ.PNG">
            </div>
            <a class="header left aligned">
              JAJU
            </a>
            <div class="description  left aligned">
              신세계인터내셔날, 2021.11
            </div>
            <div class="meta  left aligned">
              Renewal, PC web, Mobile App, Mobile Web
            </div>
          </div>
          <!-- <div class="extra center aligned content">
            <div class="ui buttons">
              <div class="ui basic primary button">Approve</div>
            </div>
          </div> -->
        </div>
        <div class="card">
          <div class="content">
            <div class="img-wrapp">
              <img class="center aligned ui bordered rounded image" src="https://api.emotion.co.kr/upload/WORKS/PC/2021/9/20210907302000nnjD7lkVRo.PNG">
            </div>
            <a class="header left aligned">
              CokePLAY
            </a>
            <div class="description left aligned">
              한국 코카-콜라, 2021.04
            </div>
            <div class="meta left aligned">
              Mobile App, Mobile Web
            </div>
          </div>
          <!-- <div class="extra center aligned content">
            <div class="ui buttons">
              <div class="ui basic primary button">Approve</div>
            </div>
          </div> -->
        </div>
      </div>


    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</div>
<!-- Project [E] -->

<!-- Blog [S] -->
<div class="ui vertical stripe segment blog" id="blog">
  <div class="ui container">
    <div class="ui very relaxed divided items">
      <div class="item">
        <div class="ui medium bordered rounded image">
          <img src="https://api.emotion.co.kr/upload/MAGAZINE/2023/06/29/4c98f63d-1e86-4089-be03-ed7c9d734689.png">
        </div>
        <div class="content">
          <a class="header">디자인 시스템에 적용 가능한 시멘틱 컬러를 알아보자</a>
          <div class="description">
            디자이너의 작업환경을 위한 UI 중심의 스타일 가이드에서 UI/UX 중심의 디자인 시스템으로 추세가 바뀌어 가고 있습니다.
          </div>
          <div class="meta">
            <a>2023.06.29</a>
          </div>
          <div class="extra">
            <!-- <div class="ui right floated primary button">
              바로가기
              <i class="right chevron icon"></i>
            </div> -->
            <div class="ui label">#Design</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui medium bordered rounded image">
          <img src="https://api.emotion.co.kr/upload/MAGAZINE/2023/05/08/d8a2d9d9-d44f-4c1a-80f8-8b1506026002.png">
        </div>
        <div class="content">
          <a class="header">노 코드(No-Code), 로우 코드(Low-Code)</a>
          <div class="description">
            생성 AI를 이용한 노 코드(No-Code), 로우 코드(Low-Code) 플랫폼 활용 전략
          </div>
          <div class="meta">
            <a>2023.05.08</a>
          </div>
          <div class="extra">
            <!-- <div class="ui right floated primary button">
              바로가기
              <i class="right chevron icon"></i>
            </div> -->
            <div class="ui label">#Develop</div>
            <div class="ui label">#Back-End</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui medium bordered rounded image">
          <img src="https://api.emotion.co.kr/upload/MAGAZINE/PC/2023/03/PC_thumbnail_202303_552x362.png">
        </div>
        <div class="content">
          <a class="header">프론트엔드 프레임워크 트렌드</a>
          <div class="description">
            프론트엔드 역할의 핵심은 사용자에게 직관적인 경험을 제공하는 것이라 볼 수 있는데, 그 자세한 역할은 다음과 같습니다.
          </div>
          <div class="meta">
            <a>2023.04.05</a>
          </div>
          <div class="extra">
            <!-- <div class="ui right floated primary button">
              바로가기
              <i class="right chevron icon"></i>
            </div> -->
            <div class="ui label">#Develop</div>
            <div class="ui label">#Front-End</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog [E] -->
{% endblock %}