<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ct2.repo.Common.FileMapper">

    <insert id="insertFile" parameterType="map">
        <selectKey keyProperty="fileId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO file
                  ( original_name
                  , name
                  , `path`
                  , `type`
                  , byte_size
                  , create_user
                  , create_datetime
                  , update_user
                  , update_datetime
                  )
             VALUES
                  ( #{original_name}
                  , #{name}
                  , #{path}
                  , #{type}
                  , #{size}
                  , 1
                  , SYSDATE()
                  , 1
                  , SYSDATE()
                  )
    </insert>

    <select id="selectFile" parameterType="map" resultType="map">
        SELECT *
          FROM file
         WHERE id = #{file_id}
    </select>

    <update id="updateFile" parameterType="map">
        UPDATE file
           SET original_name = #{original_name}
             , name = #{name}
             , `path` = #{path}
             , `type` = #{type}
             , byte_size = #{size}
             , update_user = 1
             , update_datetime = SYSDATE()
         WHERE id = #{file_id}
    </update>

    <delete id="deleteFile" parameterType="map">
        DELETE file WHERE id = #{file_id}
    </delete>
</mapper>
